name: Destroy VPC & EKS Cluster for Stage

on:
  workflow_dispatch:
    inputs:
      confirm_destroy:
        description: "Type YES to confirm Terraform destroy"
        required: true
        default: "NO"

jobs:
  destroy:
    runs-on: ubuntu-latest

    env:
      AWS_REGION: ap-south-1

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.9.5

      - name: Terraform Init
        run: terraform init

      - name: Confirm and Destroy
        run: |
          if [ "${{ github.event.inputs.confirm_destroy }}" != "YES" ]; then
            echo " Destroy aborted. You must type YES to confirm."
            exit 1
          fi
          echo "Confirmation received. Destroying infrastructure..."
          terraform destroy -auto-approve
